---
import Layout from "../layouts/Layout.astro";

---

<Layout pageTitle='About | missbaah'>

    <p>Adwoa Baah Addo-Brako <span class="text-orange-500 bg-orange-100 rounded-md p-1 text-xs">missbaah</span></p>

    <p>I'm a software developer who loves to build beautiful spaces in real life and on the internet. I've been a software dev for over 3 years now and I'm constantly honing my skills. You can find my CV here.

    "Time is going to pass anyways, why don't spend the time making your life beautiful" - Guiding Philosophy </p>
    
</Layout>