---
import Layout from '../layouts/Layout.astro';

---

<Layout>

    <div class="flex justify-between items-center">
<div class="flex flex-col gap-4">
    <p class="text-3xl">
        Hi, I'm Adwoa (arr-ju-ahh)
        
        </p>
        <p>A software developer with over 3 years of experience who loves building beautiful spaces on the internet. Outside of work, I love to read, cook and writing about my experiences</p>
        <p>Find me on </p>
</div>
<img src="/public/profile.png" alt="drawing" width="250" class="items-start">
    </div>

</Layout>
