---
const year = new Date().getFullYear();
---

<footer class="flex flex-col mt-auto pt-20 pb-4 md:flex-row md:justify-between">
     <p>
        © Adwoa Baah Addo-Brako {year}
    </p>
    <p class=" text-orange-900"><span class="i-lucide-hammer text-base"></span> Built with Astro</p>
</footer>