---
---

<footer class="flex flex-col md:flex-row md:justify-between">
     <p>
        © Adwoa Baah Addo-Brako 2025
    </p>
    <p class=" text-orange-900"><span class="i-lucide-hammer text-base"></span> Built with Astro</p>
</footer>