---
//imports
import clsx from 'clsx'

// js 
const navItems = [{name: "Home", path: '/'},{name: "Projects", path: '/projects'},{name: "Blog", path: '/blog'},{name: "Notes", path: '/notes'},{name: "About", path: '/about'}, ]
const { pathname } = Astro.url

---

<nav class="flex justify-center md:justify-between">


<!-- <p>random logo</p> -->
    <div class="flex gap-3">
        {navItems.map((item)=> {
            return <a class={clsx({'text-neutral-400 border-b pb-[2px]' : item.path === pathname})} href={item.path}>{item.name}</a>
        })}
    </div>
  

</nav>